<div class="footer-basic">
    <footer>
        <div class="social">
            <button pButton pRipple type="button" icon="pi pi-instagram" (click)="instagram()" class="p-button-rounded p-button-secondary"></button>&nbsp;&nbsp;
            <button pButton pRipple type="button" icon="pi pi-facebook" (click)="facebook()" class="p-button-rounded p-button-secondary"></button>&nbsp;&nbsp;
            <button pButton pRipple type="button" icon="pi pi-linkedin" (click)="linkedin()" class="p-button-rounded p-button-secondary"></button>&nbsp;&nbsp;
            <button pButton pRipple type="button" icon="pi pi-github" (click)="github()" class="p-button-rounded p-button-secondary"></button>&nbsp;&nbsp;
            <button pButton pRipple type="button" icon="pi pi-reddit" (click)="reddit()" class="p-button-rounded p-button-secondary"></button>&nbsp;&nbsp;
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            
            <li class="list-inline-item"><a ></a>About</li>
            <li class="list-inline-item"><a href="">Terms</a></li>
            <li class="list-inline-item"><a href="">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Developer</a></li>
        </ul>
        <p class="copyright">Shilpa Istitute © 2022</p>
        <p class="copyright">Developed by Oshan Malith</p>
    </footer>
</div>