<form  [formGroup]="updateForm" (ngSubmit)="update()">
<div class="mat-crd">
  <mat-card>
   
   
  <mat-card-title>My Profile</mat-card-title>
  </mat-card>
</div>

<br>
<div class="container">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
          <div class="controles-container">
            <input type="hidden">
           
     <!--Registration number-->
            <mat-form-field>
              <mat-label>Registration Number(readonly)</mat-label>
              <input type="text" matInput placeholder="regNo" [value]="REG_NO" readonly >
             
              <br>
            </mat-form-field>
     <!--Full Name-->
            <mat-form-field>
              <input matInput placeholder="Full Name"  [ngModel]="sName" formControlName="name">
              
            </mat-form-field>
     <!--Age-->
            <mat-form-field>
              <input matInput placeholder="Age" [ngModel]="sAge"  formControlName="age">
            </mat-form-field>
    <!--Grade -->        
            <mat-form-field>
              <input matInput placeholder="Grade" [ngModel]="sGrade" formControlName="grade">
            </mat-form-field>
    <!--School-->       
            <mat-form-field>
              <input matInput placeholder="School" [ngModel]="sSchool" formControlName="school">
            </mat-form-field>       
          </div>
        </mat-grid-tile>
        
        <mat-grid-tile>
          <div class="controles-container">
      <!--Gender-->
             <div class="add-botom-padding">
              <mat-hint>Gender</mat-hint>
              <br>
              <mat-radio-group aria-label="Select an option" [ngModel]="sGender" formControlName="gender">
                <mat-radio-button value="Male"  >Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
              </mat-radio-group>
          </div>
    <br>
      <!--Phone no --> 
      
            <mat-form-field>
              <input matInput placeholder="Phone Number" [ngModel]="sPhone" formControlName="phoneno">
            </mat-form-field>
         
       <!--email --> 
            <mat-form-field>
              <input matInput placeholder="Email" [ngModel]="sEmail" formControlName="uemail">
            </mat-form-field>
            <!-- <button (click)="close()"  mat-button color="warn">Warn</button>-->
            <div class="button-row">
              <button type="button" (click)="pass_Change()" mat-stroked-button color="primary">Change Password</button>
              <button type="button" (click)="clear()"  class="btn" mat-stroked-button color="warn" ><i class="fa-solid fa-circle-minus"></i></button>
            </div>
            <div class="button-row">
              <button type="submit" mat-raised-button color="primary">Update</button>
            
              <button type="button" (click)="close()" mat-raised-button >Cancel</button>
             
            </div> 
          </div>
        </mat-grid-tile>
       
      </mat-grid-list>
   
    
</div>
</form>