
<app-t-nav></app-t-nav>
<mat-card class="mat-dr">   
    <mat-card-title>Edit Class Stream </mat-card-title><br>
    
    </mat-card>
    <p-toast position="top-left" key="tl"></p-toast>
    <p-toast position="top-center" key="tc"></p-toast>
    <p-toast position="bottom-center" key="bc"></p-toast>
<div class="main-c" [formGroup]="addStream"> 
    <div class="left">
        <div class="new">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-user"></i></span> 
                <input type="text" pInputText placeholder="Teacher Name" [ngModel]="TNAME" formControlName="t_name" readonly >
            </div>
            <!-- class Name -->
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-book-medical"></i></span> 
                <!-- <p-dropdown  [options]="clznameli" [ngModel]="clzName" class="drop-down" [style]="{'width':'100%'}" placeholder="Select class name"  [showClear]="true"  formControlName="clz_name" ></p-dropdown> -->
                <input type="text" pInputText placeholder="Class Name" [ngModel]="clzName" formControlName="clz_name" readonly >
            </div>
        
            <!-- class code -->
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-user"></i></span> 
                <input type="text" pInputText placeholder="Class code"  [ngModel]="ClzCode" formControlName="clz_code" >   
            </div>
            
            <!-- clz link -->
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-video"></i></span>
                <input type="text" pInputText placeholder="Online Class Link (zoom/Teams)" [ngModel]="clz_link" formControlName="clz_link">   
            </div>

            <!-- note link -->
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-link"></i></span>
                <input type="text" pInputText placeholder="Note Link 1" formControlName="noteLink1" [ngModel]="n1Link" >   
            </div>

            <!-- note discription -->
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-file-code"></i></span> 
                <textarea rows="5" cols="30" pInputTextarea  [style]="{'resize': 'none'}" [ngModel]="n1Dis" placeholder="Note 1 Discription" formControlName="n1dis"  ></textarea>
            </div>
            
        
            <!-- note link 2-->
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-link"></i></span>
                <input type="text" pInputText placeholder="Note Link 2"  formControlName="noteLink2"  [ngModel]="n2Link" >   
            </div>

            <!-- note discription 2-->
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-file-code"></i></span> 
                <textarea rows="5" cols="30" pInputTextarea  [style]="{'resize': 'none'}" placeholder="Note 2 Discription"  [ngModel]="n2Dis" formControlName="n2dis" ></textarea>
            </div>
             <!-- note link 3-->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fa-solid fa-link"></i></span>
            <input type="text" pInputText placeholder="Note Link 3"  formControlName="noteLink3"  [ngModel]="n3Link" >   
        </div>

        <!-- note discription 3-->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fa-solid fa-file-code"></i></span> 
            <textarea rows="5" cols="30" pInputTextarea  [style]="{'resize': 'none'}" placeholder="Note 3 Discription"  [ngModel]="n3Dis"  formControlName="n3dis" ></textarea>
        </div>

            </div>
    </div>
    <div class="right">
        <div class="new">
       
        <!-- note link 4-->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fa-solid fa-link"></i></span>
            <input type="text" pInputText placeholder="Note Link 4"  formControlName="noteLink4"   [ngModel]="n4Link">   
        </div>

        <!-- note discription 4-->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fa-solid fa-file-code"></i></span> 
            <textarea rows="5" cols="30" pInputTextarea  [style]="{'resize': 'none'}" placeholder="Note 4 Discription"  [ngModel]="n4Dis" formControlName="n4dis" ></textarea>
        </div>

        <!-- note link 5-->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fa-solid fa-link"></i></span>
            <input type="text" pInputText placeholder="Note Link 5"  formControlName="noteLink5"  [ngModel]="n5Link">   
        </div>

        <!-- note discription 5 -->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fa-solid fa-file-code"></i></span> 
            <textarea rows="5" cols="30" pInputTextarea  [style]="{'resize': 'none'}" placeholder="Note 5 Discription"  [ngModel]="n5Dis" formControlName="n5dis" ></textarea>
        </div>

        <!-- note link all-->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fa-solid fa-link"></i></span>
            <input type="text" pInputText placeholder="Note Link all"  formControlName="noteLinkall"  [ngModel]="nAllLink">   
        </div>

        <!-- note discription -->
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fa-solid fa-file-code"></i></span> 
            <textarea rows="5" cols="30" pInputTextarea  [style]="{'resize': 'none'}" placeholder="Note all Discription"  [ngModel]="nAllDis" formControlName="nalldis" ></textarea>
        </div>

        <button pButton  pRipple type="button" (click)="update()" icon="pi pi-save" label="Update" class="p-button-outlined p-button-info" style="float: center;" ></button>
        &nbsp;
        <button pButton  pRipple type="button" icon="pi pi-times" label="Cancel" class="p-button-outlined p-button-secondary" style="float: center;" ></button>
        <br>.
        </div>
    </div>
    </div>




