div.container{
    margin: 0px 10px;
}
/* mat-grid-tile {
    background: rgb(226, 226, 226);
  } */
.controles-container{
    width:100%;
    padding: 5%;
}
.controles-container >*{
    width:100%
}
.button-row button{
    margin:5px;
}