<div class="block-main">
    <div class="block-left">
       <div class="img">

       </div>
    </div>
    <div class="block-right">
        <p-card header="You can't Access Right Now"  [style]="{width: '100%',color:'#FA8072' }" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                
            </ng-template>
            <p-divider></p-divider>
            <p class="t1">Join Class Today And Free 1 Session 🎁</p>
            <p-divider></p-divider>
            <p class="t2">Wellcome 🙏 to Class ,If you first time to access class you following bellow instruction,First Day Free of charge</p>
            <p-divider></p-divider>
            <p class="t2">First click Join button in left side panel and refresh page or click refresh button. Normally it works after you can paying class fees</p>
            <p-divider></p-divider>
            <p class="t2">If You face any trouble call our Hot Line Number</p><p class="t4">0773723451</p>
            <p-divider></p-divider>
        </p-card>
    </div>
</div>


