<app-nav-ad></app-nav-ad>


        <mat-card class="mat-dr">   
            <mat-card-title>Class Management</mat-card-title><br>
        </mat-card>

    <div class="mat-crd">
        <p-toolbar>
            <div class="p-toolbar-group-left" >
                <p-button label="New" (click)="newBtn()" icon="pi pi-plus" class="mr-2"></p-button>&nbsp;
                
                    
              
              
            </div>
            
            <div class="p-toolbar-group-right">
               
            </div>
        </p-toolbar>
        
    </div>
    <div class="mat-crd">
        
            <h3 style="color: rgb(155, 190, 190);">Class View</h3>
            <!-- <app-all-class></app-all-class>-->
            <app-sh-cls></app-sh-cls>
    </div>
    