<app-nav-ad></app-nav-ad>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<form [formGroup]="updateForm" (ngSubmit)="update()">
<div class="new-de">
    
    <button (click)="next()" pButton pRipple label="Back" type="button" icon="pi pi-angle-left" class="p-button-rounded p-button-info p-button-text"></button>

</div>
<div class="new-de" style="text-align: center;">
   
<mat-card>
    
    <mat-card-title>
        Edit Teacher
    </mat-card-title>
</mat-card>
</div>
<div class="gd-crd" >
<div class="grid-left" >
<div class="grid p-fluid">
        <div class="col-12 md:col-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-hashtag"></i></span>
                <input type="text" pInputText placeholder="Teacher's ID"  [ngModel]="tNo"  formControlName="t_no"
                pInputText pTooltip="Register Number" >         
            </div>
        </div>
        <br>
        <div class="col-12 md:col-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Name" [ngModel]="TNAME"  formControlName="t_name"
                pInputText pTooltip="Name"  >  
                     
            </div>
        </div>
            <br>   
        <div class="col-12 md:col-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
                <input type="text" pInputText placeholder="Subject" [ngModel]="SUBJECT" formControlName="subject"
                pInputText pTooltip="Subject">       
            </div>
        </div>
        <br>
        <div class="col-12 md:col-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input type="text" pInputText placeholder="Phone Number" [ngModel]="TPhone"  formControlName="t_phone"
                pInputText pTooltip="Phone Number" >       
            </div>
        </div>
        <br>
        <div class="col-12 md:col-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="text" pInputText placeholder="Email" [ngModel]="TEmail"  formControlName="t_email"
                pInputText pTooltip="Email" >       
            </div>
         </div>
            <br>
            <div class="col-12 md:col-4">
                <div class="button-row">
                    <button type="button" (click)="passch()"  mat-stroked-button color="primary">Change Password</button>
                    <button type="button" (click)="clear()"  class="btn" mat-stroked-button color="warn" ><i class="fa-solid fa-circle-minus"></i></button>
                  </div>
            </div>
            <br>
            <div class="col-12 md:col-4">
                <div class="button-row">
                    <button type="submit" mat-raised-button color="primary">Update</button>
                
                    <button type="button" (click)="cancel()" mat-raised-button >Cancel</button>
                  </div>
            </div>
      </div>

    
</div>
<div class="grid-right">
    <div class="grid p-fluid">
        <div class="col-12 md:col-4">
           
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-file-code"></i></span> 
                <textarea rows="5" cols="30" pInputTextarea  [style]="{'resize': 'none'}" placeholder="Qualification"
                [ngModel]="Qalify"  formControlName="t_qulaification" pInputText pTooltip="Qualification" ></textarea>

            </div>
        </div>
        <br>
        <div class="col-12 md:col-4">
           
            <div class="p-inputgroup">
                
                <span class="p-inputgroup-addon"><i class="fa-solid fa-file-code"></i></span> 
                <textarea rows="5" cols="30" pInputTextarea  [style]="{'resize': 'none'}" placeholder="Experience"
                [ngModel]="Experiance"  formControlName="t_experiance" pInputText pTooltip="Experiance" ></textarea>

            </div>
        </div>
      
       
    </div>
    </div>
</div>
</form>
